<div class="pb-16">
  <div class="relative max-w-screen-xl px-4 mx-auto sm:px-6 lg:px-8">
    <h2 class="text-2xl font-bold my-4">
      {{ title }}
    </h2>
    <div class="mx-auto flex flex-wrap flex-col-reverse lg:flex-row-reverse justify-between">
      {% for item in collection %}
        {% render "shared/card", card: item %}
      {% endfor %}
    </div>
  </div>
</div>
