<footer class="px-4">
  <div class="max-w-screen-xl mx-auto flex border-t border-purple py-6">
    {% svg "assets/img/brand/witchcraft-icon.svg" height=24 %}
    <a href="https://github.com/witchcrafters/"><span class="p-2 text-sm tracking-tight">Witchcrafters</span></a>
  </div>
</footer>
