<footer class="container mt-4">
  <div class="flex container border-t border-lightpurple py-4">
    {% svg "assets/img/brand/witchcraft-icon.svg" height=24 %}
    <a href="https://github.com/witchcrafters/"><span class="p-2 text-sm tracking-tight">Witchcrafters</span></a>
  </div>
</footer>
